<h2><%= @Project.name %></h2>

<% title(@Project.name, "Projects") %>

<% @title = "TextMate 2 - Projects - Ticketee" %>

<%= link_to "Edit Project", edit_project_path(@Project) %>

<%= link_to "Delete Project", @Project, :method => :delete,
:confirm => "Are you sure you want to delete this project?" %>


